<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
<form class="holder">
  <div class="form-pair">
    <label for="city-input">Where do you want to go?</label>
    <input id="city-input" placeholder="Enter a city here" type="text" value="San Francisco">
  </div>
  <div class="form-pair">
    <label for="start-input">Start date:</label>
    <input type="date" id="start-input" name="trip-start" placeholder="yyyy-mm-dd" value="2020-10-14">
  </div>
  <button id="generate" type="submit">Plan</button>
  <label id="error-label">Error here</label>
</form>
<div id="result">
  <header>
    <h1 id="city">Venus</h1>
    <h2 id="countdown">202 years to go</h2>
  </header>
  <main>
    <div id="date">51.17.222</div>
    <div id="weather-box">
      <img id="weather-icon" src="https://www.weatherbit.io/static/img/icons/c02n.png" alt="Scattered clouds">
      <div id="temperature">450 °C</div>
      <div id="weather-description">Melted iron showers</div>
      <div><img src="assets/images/Font_Awesome_5_solid_umbrella.svg"
                alt="Probability of Precipitation"/><span id="pop">37 %</span></div>
    </div>
    <div id="picture-with-watermark">
      <img id="picture" src="assets/images/pixaby-logo.svg" alt="Picture of the destination"/>
      <img id="watermark" src="assets/images/pixaby-logo.svg" alt="This picture was received from pixaby.com"/>
    </div>

    <div id="wikipedia">wikipedia</div>
  </main>
  <footer></footer>
</div>
</body>
</html>