<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<!--  <link href="/wb_sunny-black-18dp.svg" rel="icon" type="image/png"/>-->
</head>
<body>
<div id="app">
  <form class="holder zip">
    <div class="form-pair"><label for="city-input">Where do you want to go?</label>
      <input id="city-input" placeholder="Enter a city here" type="text" value="Mountain View, CA"></div>
    <div class="form-pair"><label for="start-input">Start date:</label>
      <input type="date" id="start-input" name="trip-start" placeholder="yyyy-mm-dd" value="2020-10-14"></div>
    <button id="generate" type="submit">Plan</button>
    <label id="error-label"></label>
  </form>
  <header><label>New York</label><label id="countdown">27 days remaining until visit</label></header>
  <main>
    <div>28.07.2020</div>
    <div>Weather</div>
    <div>wikipedia</div>
    <div>Picture</div>
  </main>
</div>
<footer>Background picture: George Hodan (publicdomainpictures.net)</footer>
</body>
</html>