body {

    font-family: 'Montserrat', sans-serif;
    background: rgba(31, 153, 177, 0.68);

    form { //.holder
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 1em;

        label {
            display: block;
        }

        .form-pair {
            margin: 0.5em 0;

            label {
            }

            input {
                display: block;
                width: 100%;
                font-size: 20px;
                font-family: 'Raleway', sans-serif;
            }

            #city-input {
            }

            #start-input {
            }

        }

        button { //generate
            font-size: 26px;
            width: 102%;
            font-family: 'Raleway', sans-serif;
        }

        #error-label {
            font-weight: bolder;
            font-size: 1.2em;
            margin: 1em 0;
            padding: 0.2em 1em;
            width: 90%;
            color: rgb(192, 193, 181);
            background: rgb(233, 67, 67);
            display: none;
        }
    }

    #result {
        display: none;
        header {
            h1 h2 {
                font-family: 'Bebas Neue', sans-serif;
            }

            h1 { //#city
                font-family: 'Bebas Neue', sans-serif;
                text-indent: -1.1em;
                margin-left: 1.1em;
                margin-bottom: 0;
                font-size: 36px;

                #flag {
                    height: 0.5em;
                    vertical-align: 0.3em;
                    margin-right: 0.2em;
                }

                #city {
                }
            }

            h2 { //#countdown
                font-family: 'Bebas Neue', sans-serif;
                font-size: 30px;
                margin-top: 0;
                margin-bottom: 0.5em;
            }

            #currency {
            }
        }

        main {

            #weather-box {
                padding-top: 1em;
                display: grid;
                width: 100%;
                grid-template-columns: max-content 1fr;
                grid-template-areas:
                        "date icon-and-temperature"
                        "description pop-box";

                //* {
                //
                //    border: black;
                //    border-width: 1px;
                //    border-style: dotted;
                //}

                #date {
                    grid-area: date;
                }

                #icon-and-temperature {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-areas: "icon temperature";
                    grid-area: icon-and-temperature;
                    justify-self: right;

                    #weather-icon {
                        grid-area: icon;
                        width: 2em;
                    }

                    #temperature {
                        grid-area: temperature;
                    }
                }

                #weather-description {
                    grid-area: description;
                }

                #pop-box {
                    justify-self: right;
                    grid-area: pop-box;
                }

                img { //#weather-icon and umbrella
                    width: 1em;
                    margin-right: 0.5em;
                }
            }

        textarea {
            background: #22b2da;
            color: #f0d43a;
            font-size: 20px;
            font-family: 'Oswald', sans-serif;
        }

        #picture-with-watermark {
            display: none;
            margin-top: 1em;

            #picture {
                display: block;
                width: 100%;
                height: auto;
            }

            #watermark {
                position: relative;
                height: 20px;
                padding: 5px;
                top: -35px;
                left: 5px;
                background: rgb(0, 0, 0);
                background: rgba(255, 255, 255, 0.35); /* White see-through */
                transition: .5s ease;
                opacity: 1;
            }
        }
    }

    footer {

    }
    }
}



/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    //outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

} 